# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.venv/

# Data / Models
data/
models/
logs/
outputs/
checkpoints/
processed_data/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
*.swp
.vscode/
.idea/

# Wandb
wandb/
