numpy
pandas
tqdm
matplotlib
scikit-learn
opencv-python
Pillow
tensorboard
jupyterlab
gradio
transformers
timm
seaborn
torch
torchvision
pytorch-lightning
sympy
latex2sympy2
sacrebleu
wandb
kagglehub
kaggle
albumentations