numpy
pandas
tqdm
matplotlib
scikit-learn
opencv-python
Pillow
tensorboard
jupyterlab
gradio
transformers
timm
seaborn
torch
torchvision
pytorch-lightning
sympy
sacrebleu
wandb
kagglehub
kaggle
albumentations
antlr4-python3-runtime==4.11